* { box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    border-radius: 10px;
    width: 250px;
}
input[type="radio"] {
    display: none;
}
input + img {
    border: solid 5px transparent;
}
input:checked + img {
    background-color: rgb(255, 174, 0);
}
img:hover {
    border: solid 5px rgb(255, 174, 0);
}