* { box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    border-radius: 10px;
    width: 250px;
    margin: 22px;
}
input[type="radio"] {
    display: none;
}
input + img {
    border: solid 5px rgb(0, 153, 255);
    background-color: rgba(0, 153, 255, 0.1);
    box-shadow: 0 8px 16px 0 rgba(119, 117, 78, 0.2), 0 6px 20px 0 rgba(107, 105, 70, 0.2);

}
input:checked + img {
    background-color: rgb(255, 174, 0);
    border: solid 5px rgb(255, 174, 0);
}

img:hover {
    border: solid 5px rgb(255, 174, 0);
    background-color: rgba(255, 174, 0, 0.1);
    cursor: pointer;
}

button {
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(119, 117, 78, 0.2), 0 6px 20px 0 rgba(107, 105, 70, 0.2);
    margin: 30px;
    border: none;
    padding: 15px 77px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    color: rgb(255, 174, 0);
    background-color: rgba(255, 174, 0, 0.1);
    border-radius: 11px;
  }
  
button:hover {
    background-color: rgb(255, 174, 0);
    color: white;
    cursor: pointer;
  }

h4 {
      color: rgb(255, 174, 0);
  }
.pickapicka {
    filter: drop-shadow(2px 2px 12px rgba(0,0,0,0.4));
  }